.skewed-container {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  transition: background-image 1s ease;
  background-image: url('../images/Image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.skewed {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
  border-radius: 30px;
  position: absolute;
  transition: transform 1s ease;
  
}

.left-skew {
  height: 100%;
  background-color: rgba(40, 40, 40, 0.7); 
  box-shadow: 0 0 15px rgba(37, 38, 41, 1);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right-skew {
  height: 100%;
  background: transparent;
  /* clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%); */
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-skew .text {
  width: 100%;
  height: 100%; /* Ensure it takes the full height of the parent */
  padding-right: 10%; /* Optional, adjust based on design */
  display: flex; /* Add flex properties if needed for content alignment */
  align-items: center;
  justify-content: flex-end;
}

.right-skew img {
  width: 100%;
  height: 100%;
}

.left-skew .text {
  width: 70%;
  margin-left: 10%;
  color: #FFFFFF;
  padding: 1rem;
}

.left-skew .text h2 {
  padding-bottom: 15px;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2;
}

.rank1 {
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-radius: 5px;
}

.rank1 img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: .5em;
}

.fplayer {
  display: flex;
  flex-direction: column;
  color: #f1f1f1;
}

.fplayer span:first-child {
  font-weight: bold;
  margin: 0;
}

.fplayer span:last-child {
  color: #ccc;
}

/* .right-skew .text {
  width: 70%;
  padding-right: 10%;
} */

.slide-out {
  transform: translateX(100%);
}

.slide-in {
  transform: translateX(0);
}

@media only screen and (max-width: 1200px) {
  .left-skew .text h2 {
    font-size: 1.5em;
  }

  .rank1 img {
    width: 2rem;
    height: 2rem;
  }

  .fplayer span:first-child,
  .fplayer span:last-child {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 992px) {
  .skewed-container {
    width: calc(100% - 1rem);
    height: 350px;
  }

  .left-skew .text {
    margin-left: 5%;
    margin-top: 5%;
  }

  .left-skew .text h2 {
    font-size: 1.4em;
  }

  .rank1 img {
    width: 1.75rem;
    height: 1.75rem;
  }

  .fplayer span:first-child,
  .fplayer span:last-child {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 768px) {
  .left-skew,
  .right-skew {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left-skew .text,
  .right-skew .text {
    margin: 1%;
    padding: 0.5rem;
  }

  .left-skew .text h2,
  .right-skew .text h2 {
    font-size: 1.3em;
  }

  .rank1 {
    padding: 0.2em;
  }

  .rank1 img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .fplayer span:first-child,
  .fplayer span:last-child {
    font-size: 0.65em;
  }
}

@media only screen and (max-width: 576px) {
  .skewed-container {
    border-radius: 5px;
  }

  .left-skew .text h2,
  .right-skew .text h2 {
    font-size: 1.2em;
  }

  .rank1 img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .fplayer span:first-child,
  .fplayer span:last-child {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 350px) {
  .skewed-container {
    border-radius: 5px;
  }

  .left-skew .text {
    margin-left: 0;
    padding: 0;
  }

  .left-skew .text h2,
  .right-skew .text h2 {
    font-size: 1em;
  }

  .rank1 img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .fplayer span:first-child,
  .fplayer span:last-child {
    font-size: 0.5em;
  }
}

