.tournament-mode, .createTourn, .remote-options, .waiting-section {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.05);
    margin: 100px auto 20px;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: #fff;
}

#waiting-players {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
  }

.tournament-mode h2, .remote-options h2, .waiting-section h2 {
    padding: 2rem;
}

.mode-options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.mode-btn {
    background-color: #393939;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    width: 100%;
    transition: background-color 0.3s ease;
}

.mode-btn:hover {
    background-color: #4a4a4a;
}

.createTourn h2 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.createTourn h2 img {
    width: 40px;
    margin-left: 10px;
}

.createTourn .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
    border-radius: 50px;
    padding-left: 20px;
    margin-bottom: 25px;
    height: 50px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
}

.createTourn input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
    color: #ccc;
}

.createTourn input::placeholder {
    color: #aaa; 
}

.createTourn button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #444;
    transition: background 0.3s ease;
}

.createTourn button img {
    width: 18px; 
}

.createTourn button:hover {
    background-color: #555; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); 
}


.add-list {
    display: none;
    width: 100%;
    max-width: 540px;
    background: rgba(255, 255, 255, 0.1);
    margin: 20px auto;
    padding: 40px 30px 70px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.add-list h2 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}


.add-list h2 img {
    width: 40px;
    margin-left: 10px;
}

.add-list .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
}

.add-list input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    color: #fff;
    font-size: 16px;
}

.add-list #add-btn {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #444;
    transition: background 0.3s ease;
}

.add-list #add-btn img {
    width: 18px;
}

.add-list ul {
    padding: 0;
}

.add-list ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.add-list ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.add-list ul li.checked {
    color: #fff;
}

.add-list ul li.checked::before {
    background-image: url(../../images/checked.png);
}

.add-list ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.add-list ul li span:hover {
    background: #8f8c8c;
}

.submit-btn, #invite-button {
    padding: 16px 50px;
    background-color: #636472;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border: none;
    display: block;
    margin: 20px auto;
}

.submit-btn:hover, #add-btn:hover, #invite-button:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}


.parent-container { 
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.shema {
    flex-grow: 1;
    width: 80%;
    max-width: 100%;
    height: 80%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/bak.jpg);
    transition: background-image 1s ease-in-out;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    padding: 1rem;
}

.shema .title-tourn {
    display: flex;
    background: linear-gradient(to bottom, #e91e63 -3%, #5623D8 41%);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #FF5656;
    margin: auto;
    margin-bottom: 3rem;
    width: 50%;
    padding: 1rem;
}

.title {
    font-size: 100%;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.winner-name-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.match-container {
    width: 100%;
    height: 100%;
    max-width: 540px;
    background: rgba(255, 255, 255, 0.05);
    margin: 100px auto 20px;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;    border-radius: 8px;
}

.match-text {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.vs {
    color: #fff;
    font-weight: normal;
    font-size: 24px;
    padding: 20px;
}

.play-button {
    border: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #444;
    transition: background 0.3s ease;
    font-size: 20px;
    color: #fff;
}

.play-button:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
}

.gameCanvas2 {
    display: none;
}

.tournament-container {
    width: 100%;
    height: 100%; /* Take up full height of the shema container */
    padding: 1rem; /* Padding of 1 rem */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.subtitle {
    color: #FF5656;
    font-size: 18px;
    margin-bottom: 30px;
}

/* ROWS STYLING */
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* CASES IN ROWS */
.case-left, .case-right, .finalist-left, .finalist-right {
    color: #fff;
    padding: 10px 20px;
    /* border-radius: 30px; */
    width: 160px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #FF5656;
}

.case-btn {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #e91e63 -3%, #5623D8 41%);
    border-radius: 10px;
    height: 50px;
}

/* Align Final row to center */
.final-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* TROPHY ICON */
.trophy {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    /* background-image: url(nginx/frontend/images/trophy-icon.svg); */
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.trophy span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.trophy img {
    width: 20%;
    height: 20%;
}

.winner-name-div .winner-name {
    display: flex;
    width: 50%;
    margin: auto;
    background: linear-gradient(to bottom, #e91e63 -3%, #5623D8 41%);
    align-items: center;
    justify-content: center;
    font-size: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #FF5656;
}


.final-text {
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

/* wineeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeer****************************************** */
.winner-content {
    display: none; /* Initially hidden */
    position: absolute; /* Absolute positioning relative to the nearest positioned ancestor */
    top: 50%;         /* Move to the middle vertically */
    left: 50%;        /* Move to the middle horizontally */
    transform: translate(-50%, -50%); /* Center the element by offsetting it */
    text-align: center; /* Center text inside */
}

.winner-content .winner-trophy img {
    display: block;
    margin: auto;
    max-width: 128px;
    filter: drop-shadow(0 0 4px #000);
    transition: 0.5s;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }
}

.winner-content .winner-text {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.winner-content .winner-text h1 {
    font-weight: 900;
    font-size: 8rem;
    color: #222324;
    text-shadow: 8px 0px 0px #FABE2C;
}

@media (max-width: 480px) {
    .winner-content .winner-text h1 {
        font-size: 3rem;
    }

    .winner-content .winner-trophy img {
        max-width: 60px;
    }

    .winner-content {
        padding: 10px;
    }
}

.match-result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.result-content {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 992px) {
    .trophy img {
        width: 30%;
        height: 30%;
    }
}

@media (max-width: 768px) {
    .case-btn {
        width: 100px;
        font-size: 10px;
    }

    .winner-name-div .winner-name {
            font-size: 50%;
    }

    .title {
            font-size: 50%;
    }
    .trophy img {
        width: 25%;
        height: 25%;
    }

}

@media (max-width: 400px) {
    .case-btn {
        width: 30px;
        font-size: 5px;
    }

    /* .winner-name-div .winner-name {
        font-size: 8px;
    }

    .title {
        font-size: 8px;
    } */
    .trophy img {
        width: 20%;
        height: 20%;
    }

}