<!-- <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page non trouvée - 404</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="error-container">
        <div class="error-text">
            <h1>404</h1>
            <p>Page non trouvée</p>
        </div>
        <div class="animation">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
</body>
</html> -->
<!-- <div id="particles-js">
    <canvas class="particles-js-canvas-el"  style="width: 100%; height: 100%;">
    </canvas>
  </div> -->
  
  <div class="error-container">
    <div class="text-error">
      <h1 class="errorH" style="text-shadow: -2px 0 0 rgba(255,0,0,.7),
          2px 0 0 rgba(0,255,255,.7);"> ERROR 404 <br>
          PAGE NOT FOUND
          </h1>
    </div>
  </div>
  