<div id="app" class="games-container">
    <div class="card-wrap pingpong" id="pingpong" data-image="images/ping.jpeg">
        <div class="card">
            <div class="card-bg"></div>
            <div class="card-info">
                <h1>PING-PONG</h1>
                <ul class="game-details">
                    <li>AI</li>
                    <li>REMOTE</li>
                    <li>LOCAL</li>
                    <li>TOURNAMENT</li>
                </ul>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
            </div>
        </div>
    </div>
    <div class="card-wrap tictactoe" data-image="images/xo.jpeg">
        <div class="card">
            <div class="card-bg"></div>
            <div class="card-info">
                <h1>TIC-TAC-TOE</h1>
                <ul class="game-details">
                    <li>AI</li>
                    <li>REMOTE</li>
                    <li>LOCAL</li>
                    <li>TOURNAMENT</li>
                </ul>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
            </div>
        </div>
    </div>
    <div class="card-wrap rock" data-image="images/rps.jpeg">
        <div class="card">
            <div class="card-bg"></div>
            <div class="card-info">
                <h1>ROCK-PAPER-SCISSORS</h1>
                <ul class="game-details">
                    <li>AI</li>
                    <li>REMOTE</li>
                    <li>LOCAL</li>
                    <li>TOURNAMENT</li>
                </ul>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
            </div>
        </div>
    </div>
    <div class="card-wrap" data-image="images/parchisi.jpeg">
        <div class="card">
            <div class="card-bg"></div>
            <div class="card-info">
                <h1>PARCHISI</h1>
                <ul class="game-details">
                    <li>AI</li>
                    <li>REMOTE</li>
                    <li>LOCAL</li>
                    <li>TOURNAMENT</li>
                </ul>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
            </div>
            <div class="card-icons">
                <i class='bx bxs-lock-alt'></i>
            </div>
        </div>
    </div>
    <div class="card-wrap" data-image="images/bowling.jpeg">
        <div class="card">
            <div class="card-bg"></div>
            <div class="card-info">
                <h1>BOWLING</h1>
                <ul class="game-details">
                    <li>AI</li>
                    <li>REMOTE</li>
                    <li>LOCAL</li>
                    <li>TOURNAMENT</li>
                </ul>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
            </div>
            <div class="card-icons">
                <i class='bx bxs-lock-alt'></i>
            </div>
        </div>
    </div>
    <div class="card-wrap" data-image="images/chess.jpeg">
        <div class="card">
            <div class="card-bg"></div>
            <div class="card-info">
                <h1>CHESS</h1>
                <ul class="game-details">
                    <li>AI</li>
                    <li>REMOTE</li>
                    <li>LOCAL</li>
                    <li>TOURNAMENT</li>
                </ul>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
            </div>
            <div class="card-icons">
                <i class='bx bxs-lock-alt'></i>
            </div>
        </div>
    </div>
    <div class="card-wrap" data-image="images/billiard.jpeg">
        <div class="card">
            <div class="card-bg"></div>
            <div class="card-info">
                <h1>BILLIARD</h1>
                <ul class="game-details">
                    <li>AI</li>
                    <li>REMOTE</li>
                    <li>LOCAL</li>
                    <li>bcccbc12</li>
                </ul>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
            </div>
            <div class="card-icons">
                <i class='bx bxs-lock-alt'></i>
            </div>
        </div>
    </div>
    <div class="card-wrap" data-image="images/hockey.jpeg">
        <div class="card">
            <div class="card-bg"></div>
            <div class="card-info">
                <h1>AIR HOCKEY</h1>
                <ul class="game-details">
                    <li>AI</li>
                    <li>REMOTE</li>
                    <li>LOCAL</li>
                    <li>TOURNAMENT</li>
                </ul>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
            </div>
            <div class="card-icons">
                <i class='bx bxs-lock-alt'></i>
            </div>
        </div>
    </div>
</div>
<!-- start levels -->
