<div class="head">
    <div class="slider">
        <div class="list">
            <div class="item active">
                <div class="skewed-container">
                    <div class="skewed slide-in" id="skewed-content">
                        <div class="left-skew">
                            <div class="text">
                                <h2 id="title1">Challenge 
                                    your friends 
                                    to a fun 
                                    Ping Pong match!</h2>
                            </div>
                        </div>
                        <div class="right-skew">
                            <!-- <div class="text">
                                <img src="../images/Game Controller1.png" alt="">
                            </div> -->
                            <div class="text" style="background: url('../images/Games-gif.gif') no-repeat center center; background-size: 50%;">
                                <!-- Optional content inside the div -->
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="skewed-container">
                    <div class="skewed slide-in" id="skewed-content">
                        <div class="left-skew">
                            <div class="text">
                                <h2 id="title1">Chat with friends, share laughs, 
                                    and stay connected.</h2>
                            </div>
                        </div>
                        <div class="right-skew">
                            <div class="text" style="background: url('../images/chat-gif.gif') no-repeat center center; background-size: 50%;">
                                <!-- Optional content inside the div -->
                            </div> 
                            <!-- <div class="text">
                                <img src="../images/chat.png" alt="">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="skewed-container">
                    <div class="skewed slide-in" id="skewed-content">
                        <div class="left-skew">
                            <div class="text">
                                <h2 id="title1">Never miss a thing with instant 
                                    updates and alerts!</h2>
                            </div>
                        </div>
                        <div class="right-skew">
                            <div class="text" style="background: url('../images/notif-gif.gif') no-repeat center center; background-size: 50%;">
                                <!-- Optional content inside the div -->
                            </div> 
                            <!-- <div class="text">
                                <img src="../images/notif.png" alt="">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="skewed-container">
                    <div class="skewed slide-in" id="skewed-content">
                        <div class="left-skew">
                            <div class="text">
                                <h2 id="title1">Lock down 
                                    your account with super 
                                    easy two-step protection.</h2>
                            </div>
                        </div>
                        <div class="right-skew">
                            <div class="text" style="background: url('../images/locked_securty.gif') no-repeat center center; background-size: 50%;">
                            </div> 
                            <!-- <div class="text">
                                <img id="animated-image" src="../images/Locked.png" alt="">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <ul class="dots">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container">
        <div class="chart-container">
            <canvas id="lineChart" width="760" height="400"></canvas>
        </div>  
    </div>
</div>
<!-- End Slider -->
<!-- End Slight + Leaderboard -->
<!-- End Head -->
<!-- Popular Games -->
<div class="card-container">
    <h3 class="main-title">Popular Games</h3>
    <div class="games">
        <div class="game pingpong1"></div>
        <div class="game tictactoe1"></div>
        <div class="game rock1"></div>
        <div class="game bowling"></div>
        <div class="game parchisi"></div>
        <div class="game hockey"></div>
        <div class="game billiard"></div>
        <div class="game chess"></div>
    </div>    
</div>