<section id="select-mode" class="select-mode">
    <section class="welcome">
        <h2>WELCOME TO PING-PONG GAME</h2>
    </section>
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="card-level ai">
				<div class="cover item-a">
					<h1>AI</h1>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="card-level remote">
				<div class="cover item-b">
					<h1>ONLINE</h1>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="card-level local">
				<div class="cover item-c">
					<h1>LOCAL</h1>
				</div>
			</div>
		</div>
        <div class="col-md-3 col-sm-6 col-xs-12">
			<div class="card-level tournoi">
				<div class="cover item-d">
					<h1>TOURNAMENT</h1>
				</div>
			</div>
		</div>
	</div>
</section>
