
<div class="container-custom position-relative">
    <div class="row backG ">
        
  <div class=" mb-2 col-md-6 d-flex justify-content-center align-items-center flex-column">
      <h2>Already Have an Account?</h2>
      <button class="btn btn-light loginBtn">Sign In</button>
  </div>
  <div class="mb-2 col-md-6 d-flex justify-content-center align-items-center flex-column">
    <h2 id="change_in">Don't Have an Account?</h2>
    <button id="changeBtnIn" class="btn btn-light registerBtn">Sign Up</button>
  </div>
</div>

<div class="form-container formBx" >
  

<!-- -------------------------login container------------------------------------------------------- -->
  <div class="login" id="login-container" >
      

      <h2 class="text-center">Sign in to your account</h2><br>

      <form id="form_login"  >
       
          <div  class="mb-3">
              <label class="mb-2 form-label">Username or email</label><br>
              <input class="form-control costum-border " style="color: white; background-color: #303030;" value="" type="text" id="username" name="username">
              <div style="color:#ABA9BB;" class="form-text  ">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label class=" mb-2  label-form">Password</label>
                <input  class=" form-control costum-border" style="color: white; background-color: #303030;" type="password" id="password" name="password">
                <div  style="color:#ABA9BB; " class="form-text ">your passeword must contain letter number and symbol</div>
            
            </div>
            <div class="mb-3 text-end">
              <a style="color: #6A79FA;" id="forgot_Btn">Forgotten password?</a>
          </div>
          <div class="error" id="result"></div>
          <button class="btn btn-primary" style="background-color: var(--primary-color); width: 100%; border: none;" type="submit">Login</button>
      </form>
      <div class="title-line">Or&nbsp;login&nbsp;up&nbsp;with</div>
        <div class="row mb-3">
          <div class="col-lg-6">
              <button class="btn-sc btn-fullwidth mb10" id='google'><img src="my-images/svg/google_icon.svg" alt="">Google</b>
          </div>
          <div class="col-lg-6">
              
              <button class="btn-sc btn-fullwidth mb10"  id='intra'><img src="my-images/svg/42_icon.svg" alt="">Intra 42</button>
            </div>
        </div>
        <div id="myDiv"class="text-center">
            <h6 id="myH6" >Don't have an account? <a  class="registerBtn2" >Register now.</a> </h6>
        </div>
    </div>

    <!-- two fact ---------------------------------------------------------------------------------------------- -->

    <div class="twofact d-none">
      <h2 class="text-center">Enter your OTP code</h2>
      <p style="text-align: center;">Please check your emails for a message with your code.</p>
      <br>
      
      <!-- Section pour l'OTP à 6 chiffres -->
      <div class="otp-container" id="token_code">
          <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
          <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
          <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
          <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
          <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
          <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
      </div>

      <button class="btn btn-primary" style="width:100%" type="submit" id="submitotp">submit</button>
  </div>


    <!--  ---------------------------- register container ---------------------------------------------------------- -->

    
    <div class="register d-none" id="login-container-register">
      <h2>Don't have an account? <br> Register now.</h2>
      <p>Welcome to Ping-Pong Game.</p>
      <form id='form_register' class="register_input" >
               
      
      <div class="input-group-register" >
          <label class="form-label">Last name</label><br>
          <input class="form-control costum-border" style="color: white; background-color: #303030;" type="text" id="last_name" name="last_name" >
      </div>
      <div class="input-group-register">
          <label  class="form-label">First name</label><br>
          <input  class="form-control costum-border" style="color: white; background-color: #303030;" type="text" id="first_name" name="first_name">
        </div>
        <div class="mail">
          <label  class="form-label">Email</label><br>
          <input class="form-control costum-border" style=" color: white;background-color: #303030;" type="text" id="email" name="email" >
      </div>
      <div class="mt-2 input-group-register">
          <label  class="form-label">Password</label><br>
          <input  class="form-control costum-border" style=" color: white; background-color: #303030;" type="password" id="password1" name="password1" >
      </div>
      <div class=" mt-2 input-group-register">
          <label class="form-label">Re-enter password</label>
          <input class="form-control costum-border" style="color: white; background-color: #303030;" type="password" id="password2" name="password2" >
      </div>

      
      <button  class="btn btn-primary"  style="background-color: var(--primary-color); width: 100%; border: none;" type="submit" type="submit" id='send_message' value='Register Now' >Register Now</button>
      <div class="error" id="result"></div>
  </form>
  <div class="title-line">Or&nbsp;sign&nbsp;up&nbsp;with</div>

 
      <div class="row mb-3 ">
          <div class="col-lg-6 ">
              <button class="btn-sc btn-fullwidth mb10" id='google2'><img src="my-images/svg/google_icon.svg" alt="">Google</b>
          </div>
          <div class="col-lg-6">
              
              <button class="btn-sc btn-fullwidth mb10"  id='intra2'><img src="my-images/svg/42_icon.svg" alt="">Intra 42</button>
          </div>
      </div>
      <div id="myDiv2"class="text-center">
        <h6 id="myregH6">Already have an account? <a  class="loginBtn2">Login now.</a> </h6>
    </div>

  </div>
</div>
<!-- <div class="loader" id="loader" >
<img src="/views/LOGO.svg" > 
</div> -->

</div>

<div class="container-custom secondCont position-relative d-none">
<div class="row backG ">


  <div class="col-md-6 d-flex justify-content-center align-items-center ">
      <h2>Already Have an Account?</h2>
      <button class="btn btn-light">reset ur passeword</button>
  </div>
  <div class="col-md-6 d-flex justify-content-center align-items-center">
      <h2>Reset your Password</h2>
  </div>
</div>


<!--  -----------------------------reset your password ----------------------------------------------->
<div class="form-container formBx">
<div class="resetPass" >
<h2 class="text-center">Reset your password</h2>
<p>Please enter your email address. You will receive a code to create a new password via email.</p>
<form id="form_reset" >          
  <div  class="mb-3">
      <label class="mb-2 form-label">Email adress </label><br>
      <input class="form-control costum-border " style="color: white; background-color: #303030;" value="" type="email"  id="email_reset" name="email_reset">
    </div>
    
  <div id="result_reset"></div>
</form>
<button class="mb-3 btn btn-primary resetPassBtn" style="width:100%" onclick="function_to_reset_pass()"  type="submit">Send Now</button>
</div>

<!--    check password  -->
<div class="checkPass">
<h2 class="text-center">Reset your password</h2>
<p style="text-align: center;">Please check your emails for a message with your code.</p>
<br>

<!-- Section pour l'OTP à 6 chiffres -->
<div class="otp-container" id="token_code">
  <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
  <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
  <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
  <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
  <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
  <input type="text" maxlength="1" class="otp-input" pattern="[0-9]*" inputmode="numeric">
</div>

<form id="formCheckPass">
  <div class="mb-3">
      <label class="mb-2 form-label">Password </label><br>
      <input class="form-control costum-border" style="color: white; background-color: #303030;" type="password" id="pass1" name="pass1">
    </div>
    <div class="mb-3">
        <label class="mb-2 form-label">Re-enter password </label><br>
        <input class="form-control costum-border" style="color: white; background-color: #303030;" type="password" id="pass2" name="pass2">
  </div>
</form>

<div id="result_checkPass"></div>
<button class="btn btn-primary" style="width:100%" type="submit">Send Now</button>
<div class="mb-3 text-center">
  <div style="color:#ABA9BB;" class="mt-3 form-text">Didn't get a code? <a class="backToLogin" style="color:#6A79FA;">Go back to login</a></div>
</div>
</div>

</div>
</div>




<div class="loader" id="loader-login" >
    <img src="../images/my_logo.png" > 
</div>