<section class="container-rock1">
  <div class="header">
    <h1>Rock Paper Scissors</h1>
    <div class="player-cards">
      <div class="player_card player2_card">
        <img src="images/avatars/avatar2.png" alt="Player 2" />
        <p>Player 2</p>
      </div>
      <div class="player_card player1_card">
        <img src="images/avatars/avatar1.png" alt="Player 1" />
        <p>Player 1</p>
      </div>
    </div>
  </div>

  <div class="background-wrapper1">
    <div class="result_field1">
      <div class="result_images1">
        <span class="player1_result">
          <img src="images/rock.png" alt="" />
        </span>
        <span class="player2_result">
          <img src="images/rock.png" alt="" />
        </span>
      </div>
      <div class="result1">Let's Play!!</div>
    </div>

    <div class="player_buttons">
      <div class="player_button">
        <button id="player1Btn">Player 1</button>
      </div>
      <div class="player_button">
        <button id="player2Btn">Player 2</button>
      </div>
    </div>
  </div>
</section>